RMI/src/ie/gmit/sw/Model/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Schema" xmlns:tns="http://www.example.org/Schema" elementFormDefault="qualified">

	<element name="order">
		<complexType>
			<sequence>
				<element name="OrderID" type="int"></element>
				<element name="CustomerID" type="int"></element>
				<element name="CarReg" type="string"></element>
			</sequence>
		</complexType>
	</element>

</schema>